hub_subscription_id   = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
spoke_subscription_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# backend_resource_group_name  = "..."
# backend_storage_account_name = "..."
# backend_container_name       = "tfstate"

# enable_vm_access_sg = true
# vm_access_target_nsg_ids_spoke = ["/subscriptions/.../networkSecurityGroups/..."]
# vm_access_destination_ports = ["22", "3389"]
