project_name  = "test"
environment   = "dev"
spoke_subscription_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
backend_resource_group_name  = "terraform-state-rg"
backend_storage_account_name = "tfstate07dc60"
backend_container_name       = "tfstate"
# ai_developer_group_object_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
