# 프로젝트 접두어 (리소스명 prefix): 예) "test"
project_name = "test"

# 환경명 접미어: 예) "dev", "prod"
environment = "dev"

# Spoke 리소스를 배포할 Azure 리전: 예) "Korea Central"
location = "Korea Central"

# Spoke에 사용할 Azure 구독 ID (GUID)
spoke_subscription_id = "1b741693-784b-4923-8e62-be14e177630a"

# 공통 태그 (필요 시 key/value 추가)
tags = {
  ManagedBy = "Terraform"
  Environment = "dev"
}
