#--------------------------------------------------------------
# API Management Stack Variables
#--------------------------------------------------------------

# General
project_name = "test"
environment  = "dev"
location     = "Korea Central"

tags = {
  Environment = "dev"
  ManagedBy   = "Terraform"
  Project     = "Azure-Hub-Spoke"
}

# Subscription
spoke_subscription_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Backend (Bootstrap의 terraform.tfvars와 동일하게 맞출 것)
backend_resource_group_name  = "terraform-state-rg"
backend_storage_account_name = "tfstate07dc60"
backend_container_name       = "tfstate"

# API Management
# Azure APIM sku_name: Developer_1, Basic_1, Standard_1, Premium_1 등
apim_sku_name     = "Developer_1"
apim_publisher_name  = "Your Name"
apim_publisher_email = "your.email@example.com"
