#--------------------------------------------------------------
# Connectivity Stack Variables
#--------------------------------------------------------------

# General
project_name = "test"

# Subscription
hub_subscription_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Backend Configuration (for remote_state)
backend_resource_group_name = "terraform-state-rg"
backend_storage_account_name = "terraformstate"
backend_container_name = "tfstate"
